.services-title{
    text-align: center;
    font-size: 2.15rem;
    color: #143F6B;
    overflow-wrap: break-word;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media  only screen and (max-width:576px){
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and(min-width:577px) and (max-width: 960px) {
    .services-container{
        grid-template-columns: repeat((2, 1fr));
    }
}